{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <table class = "table">
            <thead>
                <tr>
                    <th scope="col">Author</th>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Isbn</th>
                    <th scope="col">Average Rating</th>
                    <th scope="col">Ratings Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{author}}</td>
                    <td>{{title}}</td>
                    <td>{{year}}</td>
                    <td>{{isbn}}</td>
                    <td>{{average_rating}}</td>
                    <td>{{ratings_count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h4>Reviews for {{title}}</h4>
        <table class="table">
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>
                        {{review.author}}:
                        {{review.review}}
                        </td>
                        <td>
                        {{review.rating}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <form action="{{ url_for("review",title=title)}}" method="POST">
            <div class="active-cyan-4 mb-4">
                <input class="form-control" name="review" placeholder="review" type="text">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Rating</label>
                <select name="rating" class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            <div class="form-group">
                <button class="btn btn-success">post</button>
            </div>
        </form>
    </div>
    
{% endblock %}